@inherits ReportTodoItemViewBase
    <div class="mb-3 pt-2">
        <h6 class="mb-0 font-weight-semibold">
            @ChildContent
        </h6>
        <div class="header-elements">
            <div class="list-icons">
                @*<EditForm Model="ReportItem">
            <InputNumber Value="50" class="form-control"></InputNumber>
        </EditForm>*@
                <input type="number" @bind="ReportItem.Point" class="form-control" />
                <input type="date" @bind="ReportItem.End" class="form-control" placeholder="完成日期" />
                <ThunderSelect DataContext="StatusOption" @bind-SelectedItem="SelectedStatus" OnBindChanged="BindValueChanged" StyleClass="form-control"></ThunderSelect>
            </div>
        </div>
        @*<span class="text-muted d-block">Adapted navigation list for cards</span>*@
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <ReportContent @bind-Content="@ReportItem.OpenContent" OnBindChanged="BindValueChanged" Caption="计划"></ReportContent>
        </div>
        <div class="col-md-4">
            <ReportContent @bind-Content="@ReportItem.Target" OnBindChanged="BindValueChanged" Caption="目标"></ReportContent>
        </div>
        @if (EditMode == EditMode.View)
        {
            <div class="col-md-4">
                <ReportContent @bind-Content="@ReportItem.ReportContent" OnBindChanged="BindValueChanged" Caption="总结" TodoLogs="@TodoLogs" @bind-SelectedTodoLogKeys="@ReportItem.LogKeys"></ReportContent>
            </div>
        }
    </div>
@code {

}
