@inherits ReportContentBase
<StrapCard>
    <Header>
        <h6 class="m-0 font-weight-bolder">@Caption</h6>
    </Header>
    <ChildContent>
        @if (TodoLogs.Count > 0)
        {
        <ul class="list-group list-group-flush border-top">
            @for (int i = 0; i < TodoLogs.Count; i++)
            {
                var index = i;
                var checkFlag = SelectedTodoLogKeys?.Contains(TodoLogs[index].Key) ?? false;

                <li class="list-group-item p-0">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" checked="@checkFlag" @onchange="@(e=>CheckedUpdate((bool)e.Value,TodoLogs[index].Key))" />
                            <span class="text-muted">@TodoLogs[index].Created</span> @TodoLogs[index].Report
                        </label>
                    </div>
                </li>
            }
        </ul>
        }
        <div class="border-top mb-2"></div>
    <TextEdit IsMultiLine="true" @bind-Text="Content" PlaceHolder="双击输入" Confirm="UpdateContent"></TextEdit>
    </ChildContent>
</StrapCard>