@inherits ProjectItemBase
<dt>
    <div class="row" @onmousemove="o=>ShowActionFlag=true" @onmouseout="o=>ShowActionFlag=false">
        <div class="col">
            <StrapActionItem CommandAction="Goto" Style="StyleType.none" ActionItemTag="ActionItemTag.a">
                <strong title="创建时间：@Project?.Created">@Project?.Name</strong>
            </StrapActionItem>
        </div>
        <div class="col-1 text-right align-top">
            @if (true|| ShowActionFlag && Project.Id != "0")
            {
                if (Todos.Count == 0)
                {
                    <StrapActionItem CommandAction="o => Delete(Project)" Style="StyleType.none" ActionItemTag="ActionItemTag.a">
                        <i class="icon-trash" title="Delete Project"></i>
                    </StrapActionItem>
                }
                <StrapActionItem CommandAction="o => EnterEditMode(1, null)" Style="StyleType.none" ActionItemTag="ActionItemTag.a">
                    <i class="icon-file-plus" title="New Item"></i>
                </StrapActionItem>
            }
        </div>
    </div>
</dt>
<dd>
    <ul class="list list-unstyled mb-0 ml-2">
        @foreach (var item in Todos)
        {
            var todo = item;
            var count = local.Storage.TodoLogs.Count(x => x.TodoId == item.Id);
            var countFlag = count == 0;
            <li>
                <div class="row">
                    <div class="col">
                        <TextEdit Text="@item.Name" Data="@todo.Key" Confirm="UpdateTodo">
                            <div class="@(countFlag ? "text-muted" : "")">
                                @item.Name
                                <span class="badge badge-light badge-pill float-right">@(!countFlag ? count.ToString() : "")</span>
                            </div>
                        </TextEdit>
                    </div>
                    @if (false && todo.Key==ShowActionFlagKey && countFlag)
                    {
                        <div class="col-1 text-right align-top">
                            <StrapActionItem CommandAction="o=>Delete(todo)" Style="StyleType.none" ActionItemTag="ActionItemTag.a">
                                <i class="icon-file-minus" title="Delete Item"></i>
                            </StrapActionItem>
                        </div>
                    }
                </div>
            </li>
        }
        @if (EditMode == 1 && string.IsNullOrWhiteSpace(EditKey))
        {
            <li><TextEdit EditMode="true" Confirm="AddTodo" Data="@Project?.Key" Exit="ExitEditMode"></TextEdit></li>
        }

    </ul>
</dd>
